USE [master]
GO
/****** Object:  Database [Session5]    Script Date: 11/1/2020 12:21:38 PM ******/
CREATE DATABASE [Session5]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Session5', FILENAME = N'C:\wss\Session5.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Session5_log', FILENAME = N'C:\wss\Session5_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Session5].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Session5]
GO
/****** Object:  Table [dbo].[Competition]    Script Date: 11/1/2020 12:21:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Competition](
	[competitionId] [int] IDENTITY(1,1) NOT NULL,
	[skillIdFK] [int] NOT NULL,
	[sessionNo] [int] NOT NULL,
	[q1MaxMarks] [int] NOT NULL,
	[q2MaxMarks] [int] NOT NULL,
	[q3MaxMarks] [int] NOT NULL,
	[q4MaxMarks] [int] NOT NULL,
 CONSTRAINT [PK_Competition] PRIMARY KEY CLUSTERED 
(
	[competitionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Competitor]    Script Date: 11/1/2020 12:21:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Competitor](
	[recordsId] [int] IDENTITY(1,1) NOT NULL,
	[competitorId] [varchar](3) NOT NULL,
	[skillIdFK] [int] NOT NULL,
	[competitorName] [varchar](50) NOT NULL,
	[competitorCountry] [varchar](50) NOT NULL,
	[assignedSeat] [int] NOT NULL,
 CONSTRAINT [PK_Competitor] PRIMARY KEY CLUSTERED 
(
	[recordsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Results]    Script Date: 11/1/2020 12:21:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Results](
	[resultsId] [int] IDENTITY(1,1) NOT NULL,
	[competitionIdFK] [int] NOT NULL,
	[recordsIdFK] [int] NOT NULL,
	[q1Marks] [float] NOT NULL,
	[q2Marks] [float] NOT NULL,
	[q3Marks] [float] NOT NULL,
	[q4Marks] [float] NOT NULL,
	[totalMarks] [float] NOT NULL,
 CONSTRAINT [PK_Results] PRIMARY KEY CLUSTERED 
(
	[resultsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Skill]    Script Date: 11/1/2020 12:21:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Skill](
	[skillId] [int] IDENTITY(1,1) NOT NULL,
	[skillName] [varchar](50) NOT NULL,
	[noOfCompetitors] [int] NOT NULL,
	[expectedMedianMark] [int] NOT NULL,
 CONSTRAINT [PK_Skill] PRIMARY KEY CLUSTERED 
(
	[skillId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 11/1/2020 12:21:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[userId] [varchar](50) NOT NULL,
	[passwd] [varchar](50) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[userId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Competition]  WITH CHECK ADD  CONSTRAINT [FK_Competition_Skill] FOREIGN KEY([skillIdFK])
REFERENCES [dbo].[Skill] ([skillId])
GO
ALTER TABLE [dbo].[Competition] CHECK CONSTRAINT [FK_Competition_Skill]
GO
ALTER TABLE [dbo].[Competitor]  WITH CHECK ADD  CONSTRAINT [FK_Competitor_Skill] FOREIGN KEY([skillIdFK])
REFERENCES [dbo].[Skill] ([skillId])
GO
ALTER TABLE [dbo].[Competitor] CHECK CONSTRAINT [FK_Competitor_Skill]
GO
ALTER TABLE [dbo].[Results]  WITH CHECK ADD  CONSTRAINT [FK_Results_Competition] FOREIGN KEY([competitionIdFK])
REFERENCES [dbo].[Competition] ([competitionId])
GO
ALTER TABLE [dbo].[Results] CHECK CONSTRAINT [FK_Results_Competition]
GO
ALTER TABLE [dbo].[Results]  WITH CHECK ADD  CONSTRAINT [FK_Results_Competitor] FOREIGN KEY([recordsIdFK])
REFERENCES [dbo].[Competitor] ([recordsId])
GO
ALTER TABLE [dbo].[Results] CHECK CONSTRAINT [FK_Results_Competitor]
GO
USE [master]
GO
